body{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.friend-request{
    width: 600px;
    border: 0.5px gray solid;
    border-radius:10px;
    
}
.head-content{
    display: flex;
    justify-content: space-between;
}
.title{
    padding: 0 10px;
    color: gray;
}
.head-content p{
    padding-right: 25px;
    font-size: 20px;
    font-weight: 900;
}
.box-list{
    display: flex;
    justify-content: space-evenly;
}
.box{
    overflow: hidden;
    border: 0.3px gray solid;
    border-radius: 15px;
    width: 33.33333%;
    margin: 0 8px;
    
    
}
.ava-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.content{
    padding: 0 10px;
}
.content .name{
    margin: 5px 0;
    text-align: center;
}
.mutual-friends{
    display: flex;
    
}
.mutual-friends .img-mutual{
    flex: 1;
}
.mutual-friends .img-mutual img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.mutual-friends .qty-friends{
    font-size:15px;
    flex: 3;
    padding-left: 10px;
    color: gray;
}
.confirm-btn{
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(192, 164, 218);
    color: rgb(15, 0, 128);
    font-weight: 800;

}
.delete-btn{
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(228, 222, 233);
    color: black;
    font-weight: 800;
}
.btn{
    margin: 10px;
}
.btn-seeall{
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(192, 164, 218);
    color: rgb(15, 0, 128);
    font-weight: 800;

}